baseURL = 'https://lien-chu.github.io/Myblog.github.io/'
title = 'Time To Become A .Net Web Developer!'
theme = "hugo-theme-cleanwhite"
languageCode = "en-us"
# Enable comments by entering your Disqus shortname
disqusShortname = ""
googleAnalytics = ""
preserveTaxonomyNames = true
paginate = 5 #frontpage pagination
hasCJKLanguage = true

[outputs]
home = ["HTML", "RSS", "Algolia"]

[params]
  header_image = "https://lien-chu.github.io/Myblog.github.io/img/home-bg.jpg"
  SEOTitle = "It's a place to learning .Net | Incubator Blog"
  description = "Great to hear that you're interested in learning .NET!  | let us grow together"
  keyword = ".Net Framework, vickykulumanga, Incubator Blog, Asp.Net Core MVC, C#, Visual Studio "
  slogan = "Programmer Incubator Blog"

  image_404 = "https://lien-chu.github.io/Myblog.github.io/img/404-bg.jpg"
  title_404 = "You came to the wasteland unknowingly :("
  omit_categories = false

  # leancloud storage for page view counter
  page_view_conter = false 
  leancloud_app_id = ""
  leancloud_app_key = ""


  # Sidebar settings
  sidebar_about_description = "While developing web applications can be challenging and buggy, troubleshooting and debugging code is an important skill a developer must have."
  #sidebar_avatar = "https://lien-chu.github.io/Myblog.github.io/img/me.jpg"      # use absolute URL, seeing it's used in both `/` and `/about/`
  sidebar_avatar = "https://lien-chu.github.io/Myblog.github.io/img/me.jpg"      # use absolute URL, seeing it's used in both `/` and `/about/`

  about_me = true

  #Include any custom CSS and/or JS files, url or relative to /static folder
  #custom_css = ["css/lightbox.css", "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css", "css/main.css"]
  #custom_js = ["js/lightbox.js", "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js", "js/main.js"]

  [params.social]
  rss            = true
  email          = "vickykulumanga@gmail.com"
  linkedin       = "linkedin.com/in/lien-chu-huang-85a78b238"
  #instagram     = "full profile url in instagram"
  github         = "https://github.com/Lien-Chu"
  #slack         = "https://app.slack.com/huddle/T03EPP9R230/C04V9967X9V"


  [[params.addtional_menus]]
  title =  "ABOUT"
  href =  "https://lien-chu.github.io/Myblog.github.io/about/"

[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[params.algolia]
vars = ["title", "summary", "date", "publishdate", "expirydate", "permalink"]
params = ["categories", "tags"] 

[markup]
  [markup.tableOfContents]
    endLevel = 2
    startLevel = 1
  [markup.highlight]
    style = "dracula"